<div class="col-xl-6 col-lg-8">
    <h3>DISCLAIMER</h3>
    <p>XploitWizer Provides no warranty with this software and will not be responsible for any direct or indirect damage caused due to the usage of this tool.
    </br>XploitSPY is built for Educational Purpose. Use at your own Risk.</p>
</div>   