<br><br>
<div style="text-align: center; color: azure; background-color: black;">
    Made with ❤️ By <a href="//xploitwizer.com" target="_blank">XploitWizer</a>
    <!-- An Open Source Project -->
</div>

<br><br>